.dataid-0 {
	background-position: 0 0;
}

.dataid-1 {
	background-position: 0 -32px;
}

.dataid-10 {
	background-position: 0 -64px;
}

.dataid-100 {
	background-position: 0 -96px;
}

.dataid-101 {
	background-position: 0 -128px;
}

.dataid-102 {
	background-position: 0 -160px;
}

.dataid-103 {
	background-position: 0 -192px;
}

.dataid-104 {
	background-position: 0 -224px;
}

.dataid-105 {
	background-position: 0 -256px;
}

.dataid-106 {
	background-position: 0 -288px;
}

.dataid-107 {
	background-position: 0 -320px;
}

.dataid-108 {
	background-position: 0 -352px;
}

.dataid-109 {
	background-position: 0 -384px;
}

.dataid-11 {
	background-position: 0 -416px;
}

.dataid-110 {
	background-position: 0 -448px;
}

.dataid-111 {
	background-position: 0 -480px;
}

.dataid-112 {
	background-position: 0 -512px;
}

.dataid-113 {
	background-position: 0 -544px;
}

.dataid-114 {
	background-position: 0 -576px;
}

.dataid-115 {
	background-position: 0 -608px;
}

.dataid-116 {
	background-position: 0 -640px;
}

.dataid-117 {
	background-position: 0 -672px;
}

.dataid-118 {
	background-position: 0 -704px;
}

.dataid-119 {
	background-position: 0 -736px;
}

.dataid-12 {
	background-position: 0 -768px;
}

.dataid-120 {
	background-position: 0 -800px;
}

.dataid-121 {
	background-position: 0 -832px;
}

.dataid-122 {
	background-position: 0 -864px;
}

.dataid-123 {
	background-position: 0 -895px;
}

.dataid-124 {
	background-position: 0 -927px;
}

.dataid-125 {
	background-position: 0 -959px;
}

.dataid-126 {
	background-position: 0 -991px;
}

.dataid-127 {
	background-position: 0 -1017px;
}

.dataid-128 {
	background-position: 0 -1049px;
}

.dataid-129 {
	background-position: 0 -1081px;
}

.dataid-13 {
	background-position: 0 -1113px;
}

.dataid-130 {
	background-position: 0 -1145px;
}

.dataid-131 {
	background-position: 0 -1177px;
}

.dataid-132 {
	background-position: 0 -1209px;
}

.dataid-133 {
	background-position: 0 -1241px;
}

.dataid-134 {
	background-position: 0 -1273px;
}

.dataid-135 {
	background-position: 0 -1305px;
}

.dataid-136 {
	background-position: 0 -1337px;
}

.dataid-137 {
	background-position: 0 -1369px;
}

.dataid-138 {
	background-position: 0 -1401px;
}

.dataid-139 {
	background-position: 0 -1433px;
}

.dataid-14 {
	background-position: 0 -1465px;
}

.dataid-140 {
	background-position: 0 -1497px;
}

.dataid-141 {
	background-position: 0 -1529px;
}

.dataid-142 {
	background-position: 0 -1561px;
}

.dataid-143 {
	background-position: 0 -1593px;
}

.dataid-15 {
	background-position: 0 -1625px;
}

.dataid-16 {
	background-position: 0 -1657px;
}

.dataid-17 {
	background-position: 0 -1689px;
}

.dataid-17-1 {
	background-position: 0 -1721px;
}

.dataid-17-2 {
	background-position: 0 -1753px;
}

.dataid-18 {
	background-position: 0 -1785px;
}

.dataid-18-1 {
	background-position: 0 -1817px;
}

.dataid-18-2 {
	background-position: 0 -1849px;
}

.dataid-19 {
	background-position: 0 -1881px;
}

.dataid-2 {
	background-position: 0 -1913px;
}

.dataid-20 {
	background-position: 0 -1945px;
}

.dataid-21 {
	background-position: 0 -1977px;
}

.dataid-22 {
	background-position: 0 -2009px;
}

.dataid-2256 {
	background-position: 0 -2041px;
}

.dataid-2257 {
	background-position: 0 -2073px;
}

.dataid-2258 {
	background-position: 0 -2105px;
}

.dataid-2259 {
	background-position: 0 -2137px;
}

.dataid-2260 {
	background-position: 0 -2169px;
}

.dataid-2261 {
	background-position: 0 -2201px;
}

.dataid-2262 {
	background-position: 0 -2233px;
}

.dataid-2263 {
	background-position: 0 -2265px;
}

.dataid-2264 {
	background-position: 0 -2297px;
}

.dataid-2265 {
	background-position: 0 -2329px;
}

.dataid-2266 {
	background-position: 0 -2361px;
}

.dataid-23 {
	background-position: 0 -2393px;
}

.dataid-24 {
	background-position: 0 -2425px;
}

.dataid-25 {
	background-position: 0 -2457px;
}

.dataid-256 {
	background-position: 0 -2489px;
}

.dataid-257 {
	background-position: 0 -2521px;
}

.dataid-258 {
	background-position: 0 -2553px;
}

.dataid-259 {
	background-position: 0 -2585px;
}

.dataid-26 {
	background-position: 0 -2617px;
}

.dataid-260 {
	background-position: 0 -2649px;
}

.dataid-261 {
	background-position: 0 -2681px;
}

.dataid-262 {
	background-position: 0 -2713px;
}

.dataid-263 {
	background-position: 0 -2745px;
}

.dataid-263-1 {
	background-position: 0 -2777px;
}

.dataid-264 {
	background-position: 0 -2809px;
}

.dataid-265 {
	background-position: 0 -2841px;
}

.dataid-266 {
	background-position: 0 -2873px;
}

.dataid-267 {
	background-position: 0 -2905px;
}

.dataid-268 {
	background-position: 0 -2937px;
}

.dataid-269 {
	background-position: 0 -2969px;
}

.dataid-27 {
	background-position: 0 -3001px;
}

.dataid-270 {
	background-position: 0 -3033px;
}

.dataid-271 {
	background-position: 0 -3065px;
}

.dataid-272 {
	background-position: 0 -3097px;
}

.dataid-273 {
	background-position: 0 -3129px;
}

.dataid-274 {
	background-position: 0 -3161px;
}

.dataid-275 {
	background-position: 0 -3193px;
}

.dataid-276 {
	background-position: 0 -3225px;
}

.dataid-277 {
	background-position: 0 -3257px;
}

.dataid-278 {
	background-position: 0 -3289px;
}

.dataid-279 {
	background-position: 0 -3321px;
}

.dataid-28 {
	background-position: 0 -3353px;
}

.dataid-280 {
	background-position: 0 -3385px;
}

.dataid-281 {
	background-position: 0 -3417px;
}

.dataid-282 {
	background-position: 0 -3449px;
}

.dataid-283 {
	background-position: 0 -3481px;
}

.dataid-284 {
	background-position: 0 -3513px;
}

.dataid-285 {
	background-position: 0 -3545px;
}

.dataid-286 {
	background-position: 0 -3577px;
}

.dataid-287 {
	background-position: 0 -3609px;
}

.dataid-288 {
	background-position: 0 -3641px;
}

.dataid-289 {
	background-position: 0 -3673px;
}

.dataid-29 {
	background-position: 0 -3705px;
}

.dataid-290 {
	background-position: 0 -3737px;
}

.dataid-291 {
	background-position: 0 -3769px;
}

.dataid-292 {
	background-position: 0 -3801px;
}

.dataid-293 {
	background-position: 0 -3833px;
}

.dataid-294 {
	background-position: 0 -3865px;
}

.dataid-295 {
	background-position: 0 -3897px;
}

.dataid-296 {
	background-position: 0 -3929px;
}

.dataid-297 {
	background-position: 0 -3961px;
}

.dataid-298 {
	background-position: 0 -3993px;
}

.dataid-299 {
	background-position: 0 -4025px;
}

.dataid-3 {
	background-position: 0 -4057px;
}

.dataid-30 {
	background-position: 0 -4089px;
}

.dataid-300 {
	background-position: 0 -4121px;
}

.dataid-301 {
	background-position: 0 -4153px;
}

.dataid-302 {
	background-position: 0 -4185px;
}

.dataid-303 {
	background-position: 0 -4217px;
}

.dataid-304 {
	background-position: 0 -4249px;
}

.dataid-305 {
	background-position: 0 -4281px;
}

.dataid-306 {
	background-position: 0 -4313px;
}

.dataid-307 {
	background-position: 0 -4345px;
}

.dataid-308 {
	background-position: 0 -4377px;
}

.dataid-309 {
	background-position: 0 -4409px;
}

.dataid-31 {
	background-position: 0 -4441px;
}

.dataid-31-1 {
	background-position: 0 -4473px;
}

.dataid-31-2 {
	background-position: 0 -4505px;
}

.dataid-310 {
	background-position: 0 -4537px;
}

.dataid-311 {
	background-position: 0 -4569px;
}

.dataid-312 {
	background-position: 0 -4601px;
}

.dataid-313 {
	background-position: 0 -4633px;
}

.dataid-314 {
	background-position: 0 -4665px;
}

.dataid-315 {
	background-position: 0 -4697px;
}

.dataid-316 {
	background-position: 0 -4729px;
}

.dataid-317 {
	background-position: 0 -4761px;
}

.dataid-318 {
	background-position: 0 -4793px;
}

.dataid-319 {
	background-position: 0 -4825px;
}

.dataid-32 {
	background-position: 0 -4857px;
}

.dataid-320 {
	background-position: 0 -4889px;
}

.dataid-321 {
	background-position: 0 -4921px;
}

.dataid-322 {
	background-position: 0 -4953px;
}

.dataid-323 {
	background-position: 0 -4985px;
}

.dataid-324 {
	background-position: 0 -5017px;
}

.dataid-325 {
	background-position: 0 -5049px;
}

.dataid-326 {
	background-position: 0 -5081px;
}

.dataid-327 {
	background-position: 0 -5113px;
}

.dataid-328 {
	background-position: 0 -5145px;
}

.dataid-329 {
	background-position: 0 -5177px;
}

.dataid-33 {
	background-position: 0 -5209px;
}

.dataid-330 {
	background-position: 0 -5241px;
}

.dataid-331 {
	background-position: 0 -5273px;
}

.dataid-332 {
	background-position: 0 -5305px;
}

.dataid-333 {
	background-position: 0 -5337px;
}

.dataid-334 {
	background-position: 0 -5369px;
}

.dataid-335 {
	background-position: 0 -5401px;
}

.dataid-336 {
	background-position: 0 -5433px;
}

.dataid-337 {
	background-position: 0 -5465px;
}

.dataid-338 {
	background-position: 0 -5497px;
}

.dataid-339 {
	background-position: 0 -5529px;
}

.dataid-34 {
	background-position: 0 -5561px;
}

.dataid-340 {
	background-position: 0 -5593px;
}

.dataid-341 {
	background-position: 0 -5625px;
}

.dataid-342 {
	background-position: 0 -5657px;
}

.dataid-343 {
	background-position: 0 -5689px;
}

.dataid-344 {
	background-position: 0 -5721px;
}

.dataid-345 {
	background-position: 0 -5753px;
}

.dataid-346 {
	background-position: 0 -5785px;
}

.dataid-347 {
	background-position: 0 -5817px;
}

.dataid-348 {
	background-position: 0 -5849px;
}

.dataid-349 {
	background-position: 0 -5881px;
}

.dataid-35 {
	background-position: 0 -5913px;
}

.dataid-35-1 {
	background-position: 0 -5945px;
}

.dataid-35-10 {
	background-position: 0 -5977px;
}

.dataid-35-11 {
	background-position: 0 -6009px;
}

.dataid-35-12 {
	background-position: 0 -6041px;
}

.dataid-35-13 {
	background-position: 0 -6073px;
}

.dataid-35-14 {
	background-position: 0 -6105px;
}

.dataid-35-15 {
	background-position: 0 -6137px;
}

.dataid-35-2 {
	background-position: 0 -6169px;
}

.dataid-35-3 {
	background-position: 0 -6201px;
}

.dataid-35-4 {
	background-position: 0 -6233px;
}

.dataid-35-5 {
	background-position: 0 -6265px;
}

.dataid-35-6 {
	background-position: 0 -6297px;
}

.dataid-35-7 {
	background-position: 0 -6329px;
}

.dataid-35-8 {
	background-position: 0 -6361px;
}

.dataid-35-9 {
	background-position: 0 -6393px;
}

.dataid-350 {
	background-position: 0 -6425px;
}

.dataid-351 {
	background-position: 0 -6457px;
}

.dataid-351-1 {
	background-position: 0 -6489px;
}

.dataid-351-10 {
	background-position: 0 -6521px;
}

.dataid-351-11 {
	background-position: 0 -6553px;
}

.dataid-351-12 {
	background-position: 0 -6585px;
}

.dataid-351-13 {
	background-position: 0 -6617px;
}

.dataid-351-14 {
	background-position: 0 -6649px;
}

.dataid-351-15 {
	background-position: 0 -6681px;
}

.dataid-351-2 {
	background-position: 0 -6713px;
}

.dataid-351-3 {
	background-position: 0 -6745px;
}

.dataid-351-4 {
	background-position: 0 -6777px;
}

.dataid-351-5 {
	background-position: 0 -6809px;
}

.dataid-351-6 {
	background-position: 0 -6841px;
}

.dataid-351-7 {
	background-position: 0 -6873px;
}

.dataid-351-8 {
	background-position: 0 -6905px;
}

.dataid-351-9 {
	background-position: 0 -6937px;
}

.dataid-352 {
	background-position: 0 -6969px;
}

.dataid-353 {
	background-position: 0 -7001px;
}

.dataid-354 {
	background-position: 0 -7033px;
}

.dataid-355 {
	background-position: 0 -7065px;
}

.dataid-356 {
	background-position: 0 -7097px;
}

.dataid-357 {
	background-position: 0 -7129px;
}

.dataid-358 {
	background-position: 0 -7161px;
}

.dataid-359 {
	background-position: 0 -7193px;
}

.dataid-360 {
	background-position: 0 -7225px;
}

.dataid-361 {
	background-position: 0 -7257px;
}

.dataid-362 {
	background-position: 0 -7289px;
}

.dataid-363 {
	background-position: 0 -7321px;
}

.dataid-364 {
	background-position: 0 -7353px;
}

.dataid-365 {
	background-position: 0 -7385px;
}

.dataid-366 {
	background-position: 0 -7417px;
}

.dataid-367 {
	background-position: 0 -7449px;
}

.dataid-368 {
	background-position: 0 -7481px;
}

.dataid-369 {
	background-position: 0 -7513px;
}

.dataid-37 {
	background-position: 0 -7545px;
}

.dataid-370 {
	background-position: 0 -7577px;
}

.dataid-371 {
	background-position: 0 -7609px;
}

.dataid-372 {
	background-position: 0 -7641px;
}

.dataid-373 {
	background-position: 0 -7673px;
}

.dataid-374 {
	background-position: 0 -7705px;
}

.dataid-375 {
	background-position: 0 -7737px;
}

.dataid-376 {
	background-position: 0 -7769px;
}

.dataid-377 {
	background-position: 0 -7801px;
}

.dataid-378 {
	background-position: 0 -7833px;
}

.dataid-379 {
	background-position: 0 -7865px;
}

.dataid-38 {
	background-position: 0 -7897px;
}

.dataid-380 {
	background-position: 0 -7929px;
}

.dataid-381 {
	background-position: 0 -7961px;
}

.dataid-382 {
	background-position: 0 -7993px;
}

.dataid-383-120 {
	background-position: 0 -8025px;
}

.dataid-383-50 {
	background-position: 0 -8057px;
}

.dataid-383-51 {
	background-position: 0 -8089px;
}

.dataid-383-52 {
	background-position: 0 -8121px;
}

.dataid-383-54 {
	background-position: 0 -8153px;
}

.dataid-383-55 {
	background-position: 0 -8185px;
}

.dataid-383-56 {
	background-position: 0 -8217px;
}

.dataid-383-57 {
	background-position: 0 -8249px;
}

.dataid-383-58 {
	background-position: 0 -8281px;
}

.dataid-383-59 {
	background-position: 0 -8313px;
}

.dataid-383-60 {
	background-position: 0 -8345px;
}

.dataid-383-61 {
	background-position: 0 -8377px;
}

.dataid-383-62 {
	background-position: 0 -8409px;
}

.dataid-383-90 {
	background-position: 0 -8441px;
}

.dataid-383-91 {
	background-position: 0 -8473px;
}

.dataid-383-92 {
	background-position: 0 -8505px;
}

.dataid-383-93 {
	background-position: 0 -8537px;
}

.dataid-383-94 {
	background-position: 0 -8569px;
}

.dataid-383-95 {
	background-position: 0 -8601px;
}

.dataid-383-96 {
	background-position: 0 -8633px;
}

.dataid-383-98 {
	background-position: 0 -8665px;
}

.dataid-384 {
	background-position: 0 -8697px;
}

.dataid-385 {
	background-position: 0 -8729px;
}

.dataid-386 {
	background-position: 0 -8761px;
}

.dataid-387 {
	background-position: 0 -8793px;
}

.dataid-388 {
	background-position: 0 -8825px;
}

.dataid-389 {
	background-position: 0 -8857px;
}

.dataid-39 {
	background-position: 0 -8889px;
}

.dataid-390 {
	background-position: 0 -8921px;
}

.dataid-391 {
	background-position: 0 -8953px;
}

.dataid-392 {
	background-position: 0 -8985px;
}

.dataid-393 {
	background-position: 0 -9017px;
}

.dataid-394 {
	background-position: 0 -9049px;
}

.dataid-395 {
	background-position: 0 -9081px;
}

.dataid-396 {
	background-position: 0 -9113px;
}

.dataid-4 {
	background-position: 0 -9145px;
}

.dataid-40 {
	background-position: 0 -9177px;
}

.dataid-41 {
	background-position: 0 -9209px;
}

.dataid-42 {
	background-position: 0 -9241px;
}

.dataid-43 {
	background-position: 0 -9273px;
}

.dataid-43-1 {
	background-position: 0 -9305px;
}

.dataid-43-2 {
	background-position: 0 -9337px;
}

.dataid-43-3 {
	background-position: 0 -9369px;
}

.dataid-43-4 {
	background-position: 0 -9401px;
}

.dataid-43-5 {
	background-position: 0 -9433px;
}

.dataid-44 {
	background-position: 0 -9465px;
}

.dataid-44-1 {
	background-position: 0 -9497px;
}

.dataid-44-2 {
	background-position: 0 -9529px;
}

.dataid-44-3 {
	background-position: 0 -9561px;
}

.dataid-44-4 {
	background-position: 0 -9593px;
}

.dataid-44-5 {
	background-position: 0 -9629px;
}

.dataid-45 {
	background-position: 0 -9665px;
}

.dataid-46 {
	background-position: 0 -9697px;
}

.dataid-47 {
	background-position: 0 -9729px;
}

.dataid-48 {
	background-position: 0 -9761px;
}

.dataid-49 {
	background-position: 0 -9793px;
}

.dataid-5 {
	background-position: 0 -9825px;
}

.dataid-50 {
	background-position: 0 -9857px;
}

.dataid-51 {
	background-position: 0 -9889px;
}

.dataid-52 {
	background-position: 0 -9921px;
}

.dataid-53 {
	background-position: 0 -9953px;
}

.dataid-54 {
	background-position: 0 -9985px;
}

.dataid-55 {
	background-position: 0 -10017px;
}

.dataid-56 {
	background-position: 0 -10049px;
}

.dataid-57 {
	background-position: 0 -10081px;
}

.dataid-58 {
	background-position: 0 -10113px;
}

.dataid-59 {
	background-position: 0 -10145px;
}

.dataid-6 {
	background-position: 0 -10177px;
}

.dataid-6-1 {
	background-position: 0 -10209px;
}

.dataid-6-2 {
	background-position: 0 -10241px;
}

.dataid-60 {
	background-position: 0 -10273px;
}

.dataid-61 {
	background-position: 0 -10305px;
}

.dataid-62 {
	background-position: 0 -10337px;
}

.dataid-63 {
	background-position: 0 -10369px;
}

.dataid-64 {
	background-position: 0 -10401px;
}

.dataid-65 {
	background-position: 0 -10433px;
}

.dataid-66 {
	background-position: 0 -10465px;
}

.dataid-67 {
	background-position: 0 -10497px;
}

.dataid-68 {
	background-position: 0 -10529px;
}

.dataid-69 {
	background-position: 0 -10561px;
}

.dataid-7 {
	background-position: 0 -10593px;
}

.dataid-70 {
	background-position: 0 -10625px;
}

.dataid-71 {
	background-position: 0 -10657px;
}

.dataid-72 {
	background-position: 0 -10689px;
}

.dataid-73 {
	background-position: 0 -10721px;
}

.dataid-74 {
	background-position: 0 -10753px;
}

.dataid-75 {
	background-position: 0 -10785px;
}

.dataid-76 {
	background-position: 0 -10817px;
}

.dataid-77 {
	background-position: 0 -10849px;
}

.dataid-78 {
	background-position: 0 -10881px;
}

.dataid-79 {
	background-position: 0 -10913px;
}

.dataid-8 {
	background-position: 0 -10945px;
}

.dataid-80 {
	background-position: 0 -10977px;
}

.dataid-81 {
	background-position: 0 -11009px;
}

.dataid-82 {
	background-position: 0 -11041px;
}

.dataid-83 {
	background-position: 0 -11073px;
}

.dataid-84 {
	background-position: 0 -11105px;
}

.dataid-85 {
	background-position: 0 -11137px;
}

.dataid-86 {
	background-position: 0 -11169px;
}

.dataid-87 {
	background-position: 0 -11201px;
}

.dataid-88 {
	background-position: 0 -11233px;
}

.dataid-89 {
	background-position: 0 -11265px;
}

.dataid-9 {
	background-position: 0 -11297px;
}

.dataid-90 {
	background-position: 0 -11329px;
}

.dataid-91 {
	background-position: 0 -11361px;
}

.dataid-92 {
	background-position: 0 -11393px;
}

.dataid-93 {
	background-position: 0 -11425px;
}

.dataid-94 {
	background-position: 0 -11457px;
}

.dataid-95 {
	background-position: 0 -11489px;
}

.dataid-96 {
	background-position: 0 -11521px;
}

.dataid-97 {
	background-position: 0 -11553px;
}

.dataid-97-1 {
	background-position: 0 -11585px;
}

.dataid-97-2 {
	background-position: 0 -11617px;
}

.dataid-98 {
	background-position: 0 -11649px;
}

.dataid-98-1 {
	background-position: 0 -11681px;
}

.dataid-98-2 {
	background-position: 0 -11713px;
}

.dataid-99 {
	background-position: 0 -11745px;
}
