{% extends "base.html" %}
{% block titlepath %} :: Admins{% endblock %}
{% block ctitle %}Admins{% endblock %}
{% block csubtitle %}Admin users for this webinterface{% endblock %}
{% block content %}
<table>
	{% for admin in admin_list -%}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td style="width: 200px;">{{ admin }}</td>
			<td style="width: 30px;"><a href="{{ url_for('admins_edit', name=admin) }}">Edit</a></td>
			<td style="width: 45px;"><a href="{{ url_for('admins_edit', name=admin, action='delete') }}">Delete</a></td>
		</tr>
	{% endfor %}
</table>
<p />
<form method="post" action="{{ url_for('admins') }}">
	<h4>Add admin account</h4>
	Username:
	<input type="text" name="newname" />
	<input type="submit" value="Create" /></td>
</form>
{% endblock %}
