{% extends "base.html" %}
{% block titlepath %} :: Admins{% endblock %}
{% block ctitle %}Admins{% endblock %}
{% block csubtitle %}Admin users for this webinterface{% endblock %}
{% block content %}
<table>
	{% for admin in admin_list -%}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td style="width: 200px;">{{ admin }}</td>
			<td style="width: 30px;"><a href="{{ url_for('admins_edit', name=admin) }}">Edit</a></td>
			<td style="width: 45px;"><a href="{{ url_for('admins_edit', name=admin, action='delete') }}">Delete</a></td>
		</tr>
	{% endfor %}
	<form method="post" action="{{ url_for('admins') }}">
		<tr class="">
			<td style="width: 200px;"><input type="text" name="newname" /></td>
			<td colspan="2">
				<input type="submit" value="Create" />
			</td>
		</tr>
	</form>
</table>
{% endblock %}
