<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Primitive
Version    : 1.0
Released   : 20080425

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% block head %}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}MCWeb{% block titlepath %}{% endblock %}{% endblock %}</title>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="screen" />
		<script src="{{ url_for('static', filename='prototype.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		<div id="header">
			<h1>MCWeb</h1>
			<h2>Minecraft Server Admin</h2>
		</div>

		<div id="menu">
			<ul>
				{% for item in navigation %}
					<li {%- if item.active %} class="active"{%- endif -%} >
						<a href="{{ url_for(item.name, **item.args) }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
			<div></div>
		</div>

		<div id="container">
			<div id="primarycontainer">
				<div id="primarycontent">
					<!-- Primary content start -->
					{% block messages %}
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								<div class="flashes">
									{% for category, message in messages %}
										<div class="{{ category }}"><strong>{{ category.title() }}: </strong><span class="msg">{{ message|safe }}</span></div>
									{% endfor %}
								</div>
							{% endif %}
						{% endwith %}
					{% endblock %}
					{% block contentbox %}
					<h3>{% block ctitle %}{% endblock %}</h3>
					<h4>{% block csubtitle %}{% endblock %}</h4>
					{% block content %}{% endblock %}
					{% endblock %}
					<!-- Primary content end -->
				</div>
			</div>
			<div id="secondarycontent">
				<!-- Secondary content start -->
				{% block sidebar %}{% endblock %}
				<!-- Secondary content end -->
			</div>
			<div class="clearit"></div>
		</div>

		<div id="footer">
			&copy; 2008 My Website. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org">FCT</a>.
		</div>

	</body>
</html>
