{% extends "base.html" %}
{% block titlepath %} :: Properties{% endblock %}
{% block ctitle %}Properties{% endblock %}
{% block csubtitle %}Properties defined in the server.properties file{% endblock %}
{% block content %}
<form method="post" action="{{ url_for('properties') }}">
	<table style="width: 100%;">
		{% for prop in properties -%}
			<tr class="{{ loop.cycle('odd', 'even') }}">
				<td class="propkey" title="default: {% if prop.default == '' %}unset{% else %}{{ prop.default }}{% endif %}">{{ prop.key }}</td>
				<td>
					{% if prop.type == 'bool' %}
						<input type="checkbox" name="{{ prop.key }}" {% if prop.value %}checked="checked"{% endif -%} />
					{% elif prop.type == 'enum' %}
						<select name="{{ prop.key }}">
							{% for opt in prop.enum -%}
								<option value="{{ opt.key }}" {% if opt.hint %}title="{{ opt.hint }}"{% endif %} {% if opt.key == prop.value %}selected="selected"{% endif -%}>{% if not prop.hidekey %}{{ opt.key }} - {% endif %}{{ opt.value }}</option>
							{% endfor %}
						</select>
					{% elif prop.type == 'string' %}
						<input type="text" name="{{ prop.key }}" value="{{ prop.value }}" size="12" {% if prop.maxlength %}maxlength="{{ prop.maxlength }}"{% endif %} />
					{% endif %}
				</td>
				<td class="propdesc">{{ prop.desc }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="3">
				<input type="submit" value="Save" />
			</td>
		</tr>
	</table>
</form>
<form id="restartform" method="post" action="{{ url_for('server', action='power') }}" style="display: none;">
	<input type="hidden" name="task" value="restart" />
</form>
{% endblock %}
